<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="assets/images/freshcart-logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="/allorders">Orders</a>
        </li>

      </ul>

      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">

        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart">
            <span class="fas fa-cart-shopping fa-2x text-dark"></span>
            <span class="badge bg-main position-absolute top-0 end-0">{{cartNum}}</span>
          </a>
        </li>



        <li class="nav-item d-flex gap-3 me-3">
          <a href="https://www.facebook.com/ziad.hanii/" target="_blank" rel="noopener noreferrer"
            class="text-dark fa-lg"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/ziad_hanii" target="_blank" rel="noopener noreferrer"
            class="text-dark fa-lg"><i class="fab fa-instagram"></i></a>
          <a href="https://x.com/ziad_hanii" target="_blank" rel="noopener noreferrer" class="text-dark fa-lg"><i
              class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/ziad-hani/" target="_blank" rel="noopener noreferrer"
            class="text-dark fa-lg"><i class="fab fa-linkedin"></i></a>
        </li>

        <li class="nav-item">
          <span (click)="signOut()" role="button " class="main-btn btn">Sign Out</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
