<section class="py-3 w-75 mx-auto">
  <div class="row g-5 align-items-center">
    <div class="col-md-4">
      <div class="border rounded-3 overflow-hidden shadow-lg">
        <img [src]="categoryDetails.image" [alt]="categoryDetails.name" class="img-fluid w-100" />
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="text-main fw-bold mb-4 display-5">{{ categoryDetails.name }}</h2>
      <p class="text-muted fs-5">
        Discover the best products and deals in this category. Browse now and find what suits you!
      </p>
      <a [routerLink]="['/subcategories', categoryDetails._id]"
        class="btn btn-primary mt-3 px-5 py-2 fw-bold rounded-pill">Explore More Sub Categories</a>
    </div>
  </div>
</section>
