<!-- Forget Password Section -->
<section *ngIf="requestResetPassword" class="container my-5 p-4 rounded bg-light shadow-sm">
  <form [formGroup]="requestResetPasswordForm" (ngSubmit)="onRequestResetPasswordFormSubmit()">
    <h2 class="mb-4">Forget Password</h2>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" type="email" id="email" name="email" placeholder="Enter your email" required
        class="form-control" [class.is-invalid]="email?.invalid && (email?.touched || email?.dirty)">
      <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="invalid-feedback">
        <p *ngIf="email?.errors?.['required']">Email is required.</p>
        <p *ngIf="email?.errors?.['email']">Invalid email format.</p>
      </div>
    </div>

    <button class="btn main-btn w-100 mt-3" type="submit">Submit</button>
    <p *ngIf="message" class="alert alert-danger w-75 mx-auto p-1 m-4">{{ message }}</p>
  </form>
</section>

<!-- Verify Code Section -->
<section *ngIf="verifyCode" class="container my-5 p-4 rounded bg-light shadow-sm">
  <form [formGroup]="verifyCodeForm" (ngSubmit)="onVerifyCodeFormSubmit()">
    <h2 class="mb-4">Verify Code</h2>

    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input formControlName="resetCode" type="text" id="code" name="code" placeholder="Enter your code" required
        class="form-control" [class.is-invalid]="resetCode?.invalid && (resetCode?.touched || resetCode?.dirty)">
      <div *ngIf="resetCode?.invalid && (resetCode?.touched || resetCode?.dirty)" class="invalid-feedback">
        <p *ngIf="resetCode?.errors?.['required']">Code is required.</p>
      </div>
    </div>

    <button class="btn main-btn w-100 mt-3" type="submit">Submit</button>
    <p *ngIf="message" class="alert alert-danger w-75 mx-auto p-1 mb-0">{{ message }}</p>
  </form>
</section>

<!-- Reset Password Section -->
<section *ngIf="resetPassword" class="container my-5 p-4 rounded bg-light shadow-sm">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit()">
    <h2 class="mb-4">Reset Password</h2>

    <div class="mb-3">
      <label for="password" class="form-label">New Password</label>
      <input formControlName="newPassword" type="password" id="password" name="password"
        placeholder="Enter your new password" required class="form-control"
        [class.is-invalid]="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
      <div *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)" class="invalid-feedback">
        <p *ngIf="newPassword?.errors?.['required']">Password is required.</p>
      </div>
    </div>

    <button class="btn main-btn w-100 mt-3" type="submit">Submit</button>
    <p *ngIf="message" class="alert alert-danger w-75 mx-auto p-1 mb-0">{{ message }}</p>
  </form>
</section>