<section class="container">
  <section class="py-4">
    <div class="row g-0">
      <div class="col-md-9">
        <owl-carousel-o [options]="mainSliderOptions">
          <ng-template carouselSlide>
            <img height="400" src="assets/images/main-slider-1.jpeg" alt="slide-1">
          </ng-template>

          <ng-template carouselSlide>
            <img height="400" src="assets/images/main-slider-2.jpeg" alt="slide-2">
          </ng-template>

          <ng-template carouselSlide>
            <img height="400" src="assets/images/main-slider-3.jpeg" alt="slide-1">
          </ng-template>

        </owl-carousel-o>
      </div>
      <div class="col-md-3">
        <img height="200" class="w-100" src="assets/images/main-slider-1.jpeg" alt=" slide-1">
        <img height="200" class="w-100" src="assets/images/main-slider-2.jpeg" alt=" slide-1">

      </div>

    </div>

  </section>



  <section class=" py-4" *ngIf="categories.length>0">
    <h2>Popular Categories</h2>
    <owl-carousel-o role="button" [options]="categoryOptions">
      <ng-container *ngFor="let category of categories">
        <ng-template carouselSlide>
          <img height="300px" [src]="category.image" [alt]="category.name" [title]="category.name">
          <h3 class="h6 text-main text-center">{{category.name}}</h3>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>


  <section class="py-5" *ngIf="products.length>0">
    <div class="container">
      <h2 class="mb-4">Popular Products</h2>

      <div class="row g-4">
        <div class="col-sm-6 col-md-4 col-xl-4" *ngFor="let product of products | slice:0:18">
          <div class="product card border-0 shadow-sm h-100">

            <header role="button" [routerLink]="[ '/productdetails' , product._id ]">
              <img [src]="product.imageCover" [alt]="product.title" [title]="product.title"
                class="card-img-top rounded" />
              <div class="card-body p-3">
                <h3 class="h6 mb-1 text-truncate">{{ product.title | cuttext:3 }}</h3>
                <h4 class="h6 text-main mb-2">{{ product.category.name }}</h4>

                <div class="d-flex align-items-center justify-content-between small pt-2">
                  <span class="text-main fw-bold">{{ product.price}} EGP </span>
                  <span class="text-muted">
                    <i class="fas fa-star rating-color me-1"></i>{{ product.ratingsAverage }}
                  </span>
                </div>
              </div>
            </header>

            <footer>
              <div class="card-footer bg-white border-0 text-center">
                <button (click)="addProduct(product._id,btnAdd)" #btnAdd class="main-btn w-100 py-2"> +
                  AddToCart</button>
              </div>
            </footer>

          </div>
        </div>
      </div>
    </div>
  </section>
</section>
